@model WeatherForCity.Models.ViewModels.CityViewModel
@{
    ViewData["Title"] = "DailyForecast";
}




<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="title">Aktualna prognoza pogody dla Twojego miasta</h2>
        </div>
        <div class="col-sm-4">
            <div class="sun">
                <img src="~/Image/sun.png" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Weather" asp-action="DailyForecast" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="cityName" placeholder="Wpisz nazwę miasta" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Pobierz pogodę</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*@Html.PartialAsync("_DailyForecastPartial", Model);*@

@*<div class="row">
        <div class="col-6">
            <a asp-controller="Home" asp-action="Index">Wróc do strony głównej</a>
        </div>
    </div>*@





